@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: #fff;
  background: #0f172a; /* Slate 900 - Mély kékesszürke */
  /* Finom háttérrács, hogy ne legyen üres */
  background-image: linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 50px 50px;
}

/* Tőzsdei futócsík animáció */
@keyframes ticker {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
.animate-ticker {
  animation: ticker 20s linear infinite;
  white-space: nowrap;
}